<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Mídia - GRAVACAO</title>
    <link rel="stylesheet" href="../public/css/galeria.css">
</head>

<body>
    <header class="page-header">
        <div class="logo">
            <a href="inicial.html">
                <img src="../public/images/logo.png" alt="Logo da Empresa" class="logo-image">
            </a>
        </div>
    </header>

    <main class="galeria-page">
        <h1 class="page-title">Galeria de Mídia</h1>

        <div id="galeria" class="gallery-container"></div>
    </main>

    <script src="../public/js/galeria.js"></script>
</body>

</html>